// place your custom styles here
.fullScreen {
  .vue-repl {
    min-height: 300px;
    height: auto !important;
  }
  .split-pane {
    .left,
    .right {
      height: calc(100vh - 44px);
    }
  }
}
